version: 2.1

parameters:
  run-project1:
    type: boolean
    default: false

orbs:
  python: circleci/python@2.0.3
  aws-cli: circleci/aws-cli@4.1.3

jobs:
  # 構文チェック機能
  cfn-lint:
    working_directory: ~/project/project1
    executer:
      name: python/default
      tag: "3.11"
    steps:
      - checkout
      - run: 
          name: cfn-lintのインストールと実行 
          command: |
            pip install cfn-lint
            cfn-lint -i W3002 -t template.yml
          # -i W3002は特定の警告を無視（OAC関連） -tはファイル指定
  
  # CFnのデプロイ
  deploy-infrastructure:
    working_directory: ~/project/project1
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Deploy CloudFormation Stack
          command: |
            aws cloudformation deploy \
              --template-file template.yml \
              --stack-name project1-stack \
              --capabilities CAPABILITY_IAM
  
  # S3にhtml.indexをアップロード
  deploy-content:
    working_directory: ~/project/project1
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: Upload index.html to s3
          command: |
            # cloudformatinのoutputからS3bucket名を取得
            BUCKET_NAME=$(aws cloudformation describe-stacks \
              --stack-name project1-stack \
              --query "Stacks[0].Outputs[?OutputKey=='BucketName'].OutputValue" \
              --output text)

            # BUCKET_NAMEという変数を使ってS3へ同期
            aws s3 sync ./dist s3://${BUCKET_NAME}/ --delete
      - run:
          name: CloudFront Cache Invalidation
          command: |
            # キャッシュクリア
            DIST_ID=$(aws cloudformation describe-stacks \
              --stack-name project1-stack \
              --query "Stacks[0].Outputs[?OutputKey=='CloudFormationDistributionId'].OutputValue" \
              --output text)
            aws cloudfront create-invalidation --distribution-id ${DIST_ID}

workflows:
  build-and-deploy:
    when: << pipeline.parameters.run-project1 >>
    jobs:
      - cfn-lint
      - deploy-infrastructure:
          context: aws-setup
          requires:
            - cfn-lint
      - deploy-content:
          context: aws-setup
          requires:
            - deploy-infrastructure